body {
  background-color: black;
}

.menu-header-text {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.availed {
  color: #000000;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #c20a0a;
  letter-spacing: 0.03em;
}

.food-type {
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #9506ed;
  color: #000000;
}

.not-availed {
  -webkit-text-stroke-width: 1.3px;
  text-shadow: 0 0 2rem #2bffa1, 0 0 0.8rem #2bffa1, 0 0 2.8rem #2bffa1,
    0 0 1.3rem #2bffa1;
}

.expired {
  -webkit-text-stroke-width: 0.9px;
  text-shadow: 0 0 2rem #868383, 0 0 0.8rem #868383, 0 0 2.8rem #868383,
    0 0 1.3rem #868383;
  -webkit-text-stroke-color: #868383;
}

::placeholder {
  text-align: center;
}

.update-glow {
  text-shadow: 0 0 2rem #ff45a7, 0 0 0.8rem #ff45a7, 0 0 2.8rem #ff45a7,
    0 0 1.3rem #ff45a7;
  border: bisque;
  border-style: dotted;
}
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  display: flex;
}
